:root{
    --background: #212121;
    --background-toolbar: #424242;
    --background-content: #323232;
    --item-background: #C8C8C8;
}

body {
    margin: 0;
    background: var(--background);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#content{
    width: 764px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    background: var(--background-content);
}

#toolbar{
    padding: 16px;
    background: var(--background-toolbar);
    box-shadow: 0 0px 10px 0px rgb(0 0 0);
    -webkit-box-shadow: 0 0px 10px 0px rgb(0 0 0);
}

#array-container{
    width: 100%;
    height: 350px;
    position: relative;
    margin: 0 12px;
}


.array-item{
    width: 10px;
    background: var(--item-background);
    position: absolute;
    bottom: 0;
}

.delimiter {
    display: inline-block;
    width: 2px;
    height: 10px;
    background: var(--background-content);
    vertical-align: middle;
    margin: 0 8px;
}